<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotify.cuong.spotifystreamer" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/title_activity_album"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spotify.cuong.spotifystreamer.MainActivity" />
        </activity>
        <activity
            android:name=".PlaybackActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AlbumActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.spotify.cuong.spotifystreamer.AlbumActivity" />
        </activity>

        <service
            android:name=".PlaybackService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
